---
layout: page
title: Keynotes
description: My ppt
header-img: "img/bg-material.jpg"
permalink: /keynotes/
---
{% assign keynotes = site.keynotes | sort: 'date' | reverse %}
{% for keynote in keynotes %}
<div class="post-preview">
    <a href="{{ keynote.url }}" target="_blank">
        <h4 class="post-title">
            {{ keynote.title }}
        </h4>
        {% if keynote.subtitle %}
        <h5 class="post-subtitle">
            {{ keynote.subtitle }}
        </h5>
        {% endif %}
        <div class="post-content-preview">
            {{ keynote.description }}
        </div>
    </a>

    <p class="post-meta">
        Posted by {% if keynote.author %}{{ keynote.author }}{% else %}{{ site.title }}{% endif %} on {{ keynote.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}