---
layout: page
title: Traces
description: My python traces
header-img: "img/post-bg-alitrip.jpg"
permalink: /traces/
order: 1
---

{% for trace in site.data.traces %}
<div class="post-preview">
    <a target="_blank" href="{{ trace.url | prepend: '/trace-viewer/?trace=var/traces/' | prepend: site.baseurl }}">
        <h4 class="post-title">
            {{ trace.title }}
        </h4>
    </a>
        {% if trace.subtitle %}
        <h5 class="post-subtitle">
            {{ trace.subtitle }}
        </h5>
        {% endif %}
        <div class="post-content-preview">
            {{ trace.description }}
        </div>

    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}
    </p>
</div>
<hr>
{% endfor %}
